Getting Started | Data Prep | **Data Exploration** | Preprocessing | Model Tuning | Final Model

In [2]:
# Import libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
#import seaborn as sns

from sklearn import preprocessing
from sklearn.model_selection import train_test_split

import pickle

%matplotlib inline
#plt.style.use('fivethirtyeight')

In [3]:
# adding the modules directory to path
import sys
sys.path.insert(0, '../modules')

# reading in functions
from helpers import read_in_dataset

## Read in Training Data

In [6]:
#read pickle files and save to dataframe
sales_data_train = pd.read_csv('../data/processed/sales_data_train.csv')

In [7]:
#Viewing first 5 rows of training data
sales_data_train.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
0,6748356,Batteries & Accessories,Car Accessories,Northwest,Fields Sales,91,Loss,2,3,3,20000,4,4,0,Unknown,1.0,0.000000,0.000000,2
1,9608239,Exterior Accessories,Car Accessories,Northeast,Reseller,12,Won,2,5,5,8000,1,1,0,None,0.0,1.000000,0.000000,1
2,8139132,Garage & Car Care,Car Accessories,Pacific,Reseller,35,Loss,3,7,7,9300,1,1,0,Unknown,0.0,1.000000,0.000000,1
3,8423006,Motorcycle Parts,Performance & Non-auto,Northwest,Reseller,7,Loss,7,20,20,26315,1,1,0,Unknown,0.0,0.172589,0.827411,3
4,8104406,Motorcycle Parts,Performance & Non-auto,Midwest,Reseller,26,Loss,2,17,17,9202,1,1,0,Unknown,0.0,1.000000,0.000000,1

In [29]:
#Checking Shape and Data Types of Traing Data 
sales_data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54617 entries, 0 to 54616
Data columns (total 19 columns):
Opportunity Number                         54617 non-null int64
Supplies Subgroup                          54617 non-null object
Supplies Group                             54617 non-null object
Region                                     54617 non-null object
Route To Market                            54617 non-null object
Elapsed Days In Sales Stage                54617 non-null int64
Opportunity Result                         54617 non-null object
Sales Stage Change Count                   54617 non-null int64
Total Days Identified Through Closing      54617 non-null int64
Total Days Identified Through Qualified    54617 non-null int64
Opportunity Amount USD                     54617 non-null int64
Client Size By Revenue                     54617 non-null int64
Client Size By Employee Count              54617 non-null int64
Revenue From Client Past Two Years         54617 non-null int64
Competitor Type                            54617 non-null object
Ratio Days Identified To Total Days        54617 non-null float64
Ratio Days Validated To Total Days         54617 non-null float64
Ratio Days Qualified To Total Days         54617 non-null float64
Deal Size Category                         54617 non-null int64
dtypes: float64(3), int64(10), object(6)
memory usage: 7.9+ MB

## Check for Duplicates

In [21]:
# Is the opportunity ID unique?
sales_data_train['Opportunity Number'].nunique() == len(sales_data_train)

False

In [131]:
# View opportunities that may have multiple records
multiple_records = sales_data_train[sales_data_train.duplicated(subset='Opportunity Number', keep=False)].sort_values('Opportunity Number')
one_record = sales_data_train[sales_data_train.groupby('Opportunity Number')['Opportunity Number'].transform('count') ==1]
multiple_records.head()
# Some records seem to differ by subgroup, while other seem to be sublicate records

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
29326,1724032,Car Electronics,Car Electronics,Southwest,Fields Sales,210,Won,5,94,90,469000,1,1,0,None,0.073248,0.839703,0.040340,6
37187,1724032,Car Electronics,Car Electronics,Southwest,Fields Sales,210,Won,5,94,90,469000,1,1,0,None,0.073248,0.839703,0.040340,6
37087,4787647,Batteries & Accessories,Car Accessories,Southeast,Fields Sales,26,Won,6,49,46,0,1,4,0,Unknown,0.431174,0.293522,0.210526,1
25553,4787647,Shelters & RV,Performance & Non-auto,Southeast,Fields Sales,26,Won,6,49,46,0,1,4,0,Unknown,0.431174,0.293522,0.210526,1
47134,4787647,Interior Accessories,Car Accessories,Southeast,Fields Sales,26,Won,6,49,46,6000,1,4,0,Unknown,0.431174,0.293522,0.210526,1

In [132]:
# Check that data was split correctly
assert len(sales_data_train) == len(multiple_records) + len(one_record)

# View opportunities that share an opportunity number,but are not completely that same
duplicates = sales_data_train[sales_data_train.duplicated(keep=False)]
same_opp_nums_not_dup = multiple_records[~multiple_records['Opportunity Number'].isin(duplicates['Opportunity Number'])]

same_opp_nums_not_dup.head()

,Opportunity Number,Supplies Subgroup,Supplies Group,Region,Route To Market,Elapsed Days In Sales Stage,Opportunity Result,Sales Stage Change Count,Total Days Identified Through Closing,Total Days Identified Through Qualified,Opportunity Amount USD,Client Size By Revenue,Client Size By Employee Count,Revenue From Client Past Two Years,Competitor Type,Ratio Days Identified To Total Days,Ratio Days Validated To Total Days,Ratio Days Qualified To Total Days,Deal Size Category
37087,4787647,Batteries & Accessories,Car Accessories,Southeast,Fields Sales,26,Won,6,49,46,0,1,4,0,Unknown,0.431174,0.293522,0.210526,1
25553,4787647,Shelters & RV,Performance & Non-auto,Southeast,Fields Sales,26,Won,6,49,46,0,1,4,0,Unknown,0.431174,0.293522,0.210526,1
47134,4787647,Interior Accessories,Car Accessories,Southeast,Fields Sales,26,Won,6,49,46,6000,1,4,0,Unknown,0.431174,0.293522,0.210526,1
54219,4947042,Towing & Hitches,Car Accessories,Midwest,Fields Sales,88,Loss,4,81,81,200000,3,5,3,Known,0.170972,0.030750,0.798278,5
27541,4947042,Exterior Accessories,Car Accessories,Midwest,Fields Sales,88,Loss,4,81,81,600000,3,5,3,Known,0.170972,0.030750,0.798278,7

It appears as if some of the opportunites have multiple records for the training data. These records same the same opportunity number but different in terms of...
* Supplies Subgroup
* Supplies Group
* Opportunity Amount USD

Therefore, we are going to start with a simple solution and take a random record for those with multiple records.

In [148]:
# Reduce opportunities with multiple records down to 1
reduced_sales_data_train = multiple_records.sample(frac=1, random_state=0).groupby('Opportunity Number').head(1)
reduced_sales_data_train  = pd.concat([one_record, reduced_sales_data_train])

In [149]:
# Drop duplicates
reduced_sales_data_train = reduced_sales_data_train.drop_duplicates()

In [150]:
len(reduced_sales_data_train)

54519

In [152]:
#Check to make sure Opportunity Numbers in reduced set is the same as original dataset
assert set(reduced_sales_data_train['Opportunity Number']) == set(sales_data_train['Opportunity Number'])

# pickle dataframe
# pd.to_pickle(reduced_sales_data_train, '../data/processed/reduced_sales_data_train.pickle')

## Check Out Customer Revenue (Past 2 Years)

For simplicity, let's define the following terms:
* *new customer* - Client Revenue (past 2 years) is \$0 USD  
* *returning customer* - Client Revenue (past 2 years) greater than \$0 USD

###

In [14]:
num_return = len(sales_data_train.loc[sales_data_train['Revenue From Client Past Two Years'] > 0])
num_new = len(sales_data_train.loc[sales_data_train['Revenue From Client Past Two Years'] == 0])

## Close Rate (new vs. returning customers from past 2 yeats)

In [40]:
return_biz = sales_df.loc[sales_df['pastsale'] > 0]

In [41]:
return_biz['oppoutcome'].loc[return_biz['oppoutcome'] == "Won"].count()

5638

In [42]:
return_biz.describe();

In [43]:
return_close_rate = (5638/8817)*100
return_close_rate

63.94465237609164

## New Biz

In [44]:
new_biz = pd.read_pickle('new_biz.pickle')

In [45]:
new_biz.columns

Index(['oppid', 'daysinstage', 'stagechanges', 'daystoclose', 'daystoqual',
       'oppvalue', 'sizebyrev', 'sizebyee', 'pastsale', 'ratioidtot',
       'ratiovaltot', 'ratioqualtot', 'dealsizecat', 'var_Car Accessories',
       'var_Car Electronics', 'var_Performance & Non-auto',
       'var_Tires & Wheels', 'var_Mid-Atlantic', 'var_Midwest',
       'var_Northeast', 'var_Northwest', 'var_Pacific', 'var_Southeast',
       'var_Southwest', 'var_Fields Sales', 'var_Other', 'var_Reseller',
       'var_Telecoverage', 'var_Telesales', 'var_Loss', 'var_Won'],
      dtype='object')

In [46]:
new_biz['var_Won'].describe()

count    69208.000000
mean         0.173231
std          0.378450
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: var_Won, dtype: float64

# New Biz - Won vs. Lost

In [51]:
won_nb = new_biz.loc[new_biz['var_Won'] ==1]

In [52]:
lost_nb = new_biz.loc[new_biz['var_Won'] !=1]

In [56]:
won_nb[['daysinstage', 'stagechanges', 'daystoclose', 'daystoqual', 'sizebyee', 'pastsale', 'ratioidtot',
       'ratiovaltot', 'ratioqualtot', 'dealsizecat', 'var_Car Accessories',
       'var_Car Electronics', 'var_Performance & Non-auto',
       'var_Tires & Wheels', 'var_Fields Sales', 'var_Other', 'var_Reseller',
       'var_Telecoverage', 'var_Telesales']].describe()

,daysinstage,stagechanges,daystoclose,daystoqual,sizebyee,pastsale,ratioidtot,ratiovaltot,ratioqualtot,dealsizecat,var_Car Accessories,var_Car Electronics,var_Performance & Non-auto,var_Tires & Wheels,var_Fields Sales,var_Other,var_Reseller,var_Telecoverage,var_Telesales
count,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.0,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000,11989.000000
mean,44.064059,3.170573,8.086913,7.233130,1.550171,0.0,0.065097,0.352569,0.294481,2.686629,0.644674,0.005505,0.344566,0.005255,0.355659,0.030194,0.580115,0.002252,0.031779
std,28.062479,1.736913,11.261703,10.531185,1.130723,0.0,0.204164,0.417369,0.389243,1.617794,0.478632,0.073995,0.475246,0.072302,0.478733,0.171129,0.493560,0.047404,0.175419
min,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,23.000000,2.000000,1.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,41.000000,3.000000,4.000000,3.000000,1.000000,0.0,0.000000,0.076923,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,66.000000,4.000000,11.000000,9.000000,1.000000,0.0,0.000000,0.845455,0.641026,4.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,210.000000,17.000000,151.000000,118.000000,5.000000,0.0,1.000000,1.000000,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [57]:
lost_nb[['daysinstage', 'stagechanges', 'daystoclose', 'daystoqual', 'sizebyee', 'pastsale', 'ratioidtot',
       'ratiovaltot', 'ratioqualtot', 'dealsizecat', 'var_Car Accessories',
       'var_Car Electronics', 'var_Performance & Non-auto',
       'var_Tires & Wheels', 'var_Fields Sales', 'var_Other', 'var_Reseller',
       'var_Telecoverage', 'var_Telesales']].describe()

,daysinstage,stagechanges,daystoclose,daystoqual,sizebyee,pastsale,ratioidtot,ratiovaltot,ratioqualtot,dealsizecat,var_Car Accessories,var_Car Electronics,var_Performance & Non-auto,var_Tires & Wheels,var_Fields Sales,var_Other,var_Reseller,var_Telecoverage,var_Telesales
count,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.0,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000,57219.000000
mean,43.772803,2.875845,19.104616,18.835824,1.604118,0.0,0.242809,0.533678,0.142718,3.575945,0.630228,0.003600,0.356892,0.009280,0.492529,0.038484,0.426030,0.009857,0.033101
std,26.452814,1.411331,17.147652,16.993456,1.209029,0.0,0.391184,0.450190,0.309183,1.605434,0.482747,0.059894,0.479087,0.095886,0.499949,0.192363,0.494502,0.098792,0.178902
min,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,2.000000,6.000000,6.000000,1.000000,0.0,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,44.000000,2.000000,15.000000,15.000000,1.000000,0.0,0.000000,0.638095,0.000000,4.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,65.000000,3.000000,27.000000,27.000000,1.000000,0.0,0.384159,1.000000,0.000000,5.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
max,92.000000,23.000000,208.000000,208.000000,5.000000,0.0,1.000000,1.000000,1.000000,7.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000